@font-face{
    src: url(/css/Fonts/Barlow-Regular.ttf);
    font-family: barlow;
}
body {
    font-family: 'barlow', sans-serif;
}

.chatcontainer {
    background-color: aquamarine;
    padding-top: 50px;
}

.chat {
    align-content: center;
    padding-bottom: 10px;
}

.list {
    padding: 15px;
}

.messagedisplay {
    list-style: none;
    padding: 2px;
    font-size: 25px;
    color: #0c0b0b;
}

p.time,
.author,
.messagedisplay {
    margin: 0px;
}

.time {
    color: #605d5d;
    font-size: 13px;
}

.author {
    color: #605d5d;
    font-size: 13px;
}

.container {
    margin-top: 12px;

}

.secondcontainer {
    background-color: #c6c4c4;
    padding: 23px;
    margin: 5px;
}

.messages {
    padding: 12px;
}